h1 {
    font-family: 'Pinyon Script', cursive;
    font-size: 5em;
    font-weight: lighter;
}

h3 {
    font-family: 'VT323', monospace;
    font-size: 2em;
}

.page-home-background {
    background: url('../assets/stars.jpg'), #eeeeee55;
    background-size: 500px 50%;
    background-repeat: repeat-x;
    padding: 20%;
}

.page-home-parallax-background {
    background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-195235.jpg');
    background-attachment: fixed;
    height: 20%;
}

.page-home-container {
    border: 50px solid white;
    background-color: rgb(234, 230, 219);
    padding: 20%;
    color: #404040;
    /* box-shadow: 0 0 30px black; */
}

.content-header {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 5em;
}