body {
    text-align: center;
    font-family: 'Marck Script', cursive;
    background-color: white;
    height: 100%;
    margin: 0;
}

.body-container {
    
}

.avatar {
    border-radius: 50%;
}