body {
    text-align: center;
    font-family: 'Handlee', cursive;
    background-color: #dddddd;
    height: 100%;
    margin: 0;
}

.body-container {
    
}

.avatar {
    border-radius: 50%;
}