body {
    text-align: center;
    font-family: 'Handlee', cursive;
    background-color: #dddddd;
    height: 100%;
}

.body-container {
    margin-top: 3em;
}

.header-container {
    background-color: #eeeeeecc;
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
}

#menu-container {
    padding: 0.5em;
}

.menu-item {
    padding: 0.5em;
    margin-left: 0.5em;
    margin-top: 2px;
    margin-right: 0.5em;
    font-size: 18px;
    font-family: 'Handlee', cursive;
    color: #505050;
    background: none;
    cursor: pointer;
    border: none;
    border-top: 1px solid;
    outline: none;
}

.menu-item:hover, .active {
    margin-top: 0px;
    border-top: 3px solid;
    transition-duration: 200ms;
    color: #202020;
}

.content-container {
    margin-top: 2em;
    box-shadow: 0 5px 10px black;
    background-color: white;
    border: 30px solid #fcf8f8f8;
}

.content-header {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 5em;
}

.avatar {
    border-radius: 50%;
}